.material-card {
  display: flex;
  flex-direction: row;
  
  text-align: left;

  margin: 0px;
  padding: 10px 15px;
  
  .material-img-div {
    background-color: $up-blue;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 1px;
    margin-right: 10px; 

    width: 85px;
    height: 85px;
  }

  h4 {
    font-size: 1.1rem;
    color: $font-grey;
    margin: 0;
  } 
  p {
    margin: 0;
    color: $font-ligthgrey;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .amount {
    text-align: right;
  }

}
  hr {
    border: 0;
    border-bottom: 1px solid lightgray;
    margin: 0 25px;
  }