.logo-homepage {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 60%;
}

.logo-sinlog {
  margin-top: 90px;
  margin-bottom: 60px;
  width: 40%;
}

.button-homepage {
  background-color: #195467;
  border-radius: 13px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  height: 40px;
  width: 60%;
  margin: 10px;
}

.button-sinlog {
  background-color: whitesmoke;
  border-radius: 13px;
  border: 1px solid darkgray;
  color: #505050;
  font-size: 1rem;
  text-align: center;
  height: 30px;
  width: 60%;
  margin: 10px;
}

.facebook {
  background-color: #0071bc;
}

.button-sinlog a, .button-homepage a {
  color: white;
  text-decoration: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #505050;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #505050;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #505050;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #505050;
}

.user-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  text-align: left;
  height: 120px;
  padding: 19px 20px 16px;
}

.user-discription {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.user-discription h2 {
  margin: 0;
}

.user-discription p {
  margin: 0;
}

.edit-img {
  width: 30px;
}

.profile-pic {
  background-color: #195467;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 130px;
  height: 130px;
}

.button-add {
  align-items: center;
  bottom: 0;
  display: fleX;
  justify-content: space-around;
  position: fixed;
  margin: 0 auto 65px;
  width: 80px;
}

.button-add a {
  text-decoration: none;
}

.button-add img {
  margin: auto;
  width: 100%;
}

.material-card {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 0px;
  padding: 10px 15px;
}
.material-card .material-img-div {
  background-color: #195467;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1px;
  margin-right: 10px;
  width: 85px;
  height: 85px;
}
.material-card h4 {
  font-size: 1.1rem;
  color: #1a1a1a;
  margin: 0;
}
.material-card p {
  margin: 0;
  color: #646464;
  margin-left: 5px;
  margin-bottom: 5px;
}
.material-card .amount {
  text-align: right;
}

hr {
  border: 0;
  border-bottom: 1px solid lightgray;
  margin: 0 25px;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #195467;
  height: 50px;
  width: 100%;
}

.div-nav-bar {
  margin-bottom: 55px;
}

.navbar img {
  width: 75px;
}

.footer {
  align-content: center;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  border-top: 1px solid darkgray;
  background-color: black;
  height: 45px;
  width: 100vw;
}

.footer-link {
  margin: auto;
  height: 75%;
}

.footer img {
  margin: auto;
  height: 100%;
}

.footer-div {
  margin-bottom: 70px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  text-align: center;
}

button {
  background-color: transparent;
  border: 0px;
}

.submit-big-button {
  align-items: center;
  top: 0;
  display: fleX;
  justify-content: space-around;
  position: fixed;
  margin: 65px auto 0;
  width: 120px;
}

.submit-big-button img {
  margin: auto;
  width: 100%;
}

/*# sourceMappingURL=App.css.map */
