.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;

  background-color: rgb(25, 84, 103);

  height: 50px;
  width: 100%;
}
.div-nav-bar {
  margin-bottom: 55px;
}

.navbar img{
  width: 75px;
}