.user-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  text-align: left;
  
  height: 150px;
  padding: 19px 20px 16px;

  .user-discription {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    width: 200px;
  }

  .user-discription * {
    margin: 0;
  }

  .user-discription button {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .edit-img {
    justify-content: flex-start;
    width: 30px;
  }

  .profile-pic {
    background-color: $up-blue;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: $shadow;


    width: 150px;
    height: 150px;
  }
}

.bar {
  border-top: $grey-line;
  border-bottom: $grey-line;
  
  
  h3 {
    margin: 8px 0;
  }
}