.user-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  border-bottom: 1px solid lightgray;
  
  text-align: left;
  
  height: 120px;
  padding: 19px 20px 16px;
}

.user-discription {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
  width: 200px;
}


.user-discription * {
  margin: 0;
}

.user-discription button {
  margin: 0;
  padding: 0;
  text-align: left;
}

.edit-img {
  justify-content: flex-start;
  width: 30px;
}

.profile-pic {
  background-color: $up-blue;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 130px;
  height: 130px;
}